/* Range */
.range-slider__range:active::-moz-range-thumb {
    background: #0085ba;
}

.customize-control input[type=number].range-slider-value {
    width: 21%;
    height: 28px;
    text-align: center;
    margin-left: 2%;
    border-radius: 4px;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #555;
    -moz-appearance: textfield;

}

.customize-control input[type=number].range-slider-value::-webkit-outer-spin-button,
.customize-control input[type=number].range-slider-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.customize-control input[type=number].range-slider-value {
    -moz-appearance: textfield;
}

.range-reset-slider .dashicons{
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 1;
}

.customize-control span.range-reset-slider {
    display: inline-block;
    position: relative;
    width: 6%;
    line-height: 1;
    color: rgba(0,0,0,.2);
    cursor: pointer;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.range-slider {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
}

.range-slider__range {
    background-color: rgba(0,0,0,.1);
    height: 5px;
    width: 67% !important;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
    outline: none;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
    -webkit-appearance: none;
}

.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 15px;
    background-color: #2e86b9;
}

.range-slider__range::-webkit-slider-thumb:hover {
    background: #0085ba;
}

.range-slider__range:active::-webkit-slider-thumb {
    background: #0085ba;
}

.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #0085ba;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
    background: #0085ba;
}

.customize-control span.range-reset-slider:hover {
    color: #fe5252;
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}

.customize-control-range-value .customize-control-title,
.customize-control-range-value .responsive-switchers{
    display: inline-block;
}

.responsive-switchers{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.responsive-switchers .preview-tablet,
.responsive-switchers .preview-mobile{
    display: none;
}

.desktop-range,
.tablet-range,
.mobile-range{
    display: none;
    width:100%;
}

.desktop-range.active,
.tablet-range.active,
.mobile-range.active{
    display: block;
}

.customize-control .responsive-switchers { margin-left: 5px; width: auto; }
.customize-control .responsive-switchers-open li button { display: block; }
.customize-control .responsive-switchers li { float: left; margin: 0; }
.customize-control .responsive-switchers li button { height: 20px; width: 20px; background-color: #a4afb7; cursor: pointer; position: relative; margin-left: 5px; color: #fff; font-size: 10px; text-align: center; border-radius: 50%; padding: 0; border: 0; outline: none; -webkit-transition: background-color .5s; transition: background-color .5s; cursor: pointer; }
.customize-control .responsive-switchers li button:hover { background-color: #c2cbd2; }
.customize-control .responsive-switchers li button.active { background-color: #13aff0; }
.customize-control .responsive-switchers li button i { width: auto; height: auto; font-size: inherit; line-height: 18px; }

.customize-control-hidden {
    display: list-item;
    margin-left: -12px;
    margin-right: -12px;
    padding: 7px 15px;
    background: #FFF;
    border-left: 8px solid #0073aa;
	border-right: 8px solid #0073aa;
    max-width: -webkit-fill-available;
	margin-bottom: 10px;
}

.customize-control-hidden label {
    margin-bottom: 0;
    line-height: 2;
    font-size: 1em;
    cursor: default;
    color: #000;
    font-weight: 600;
}

/* Upsale */
.shopire-upsale .accordion-section-title { 
	text-align: center;
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 600;
}

#customize-theme-controls .shopire-upsale .accordion-section-title:after {
    display:none;
}

.shopire-upsale .btn-group {
	text-align: center;	
    width: 100%;
    display: block;
    margin-top: 10px;
}
.shopire-upsale .btn-group a {
    margin-right: -7px;	
}	

.shopire-upsale .btn-group a.demo {
    background: #119909;
    color: #fff;
    border-color: #119909;
	border-radius: 3px 0px 0px 3px;
}

.shopire-upsale .btn-group a.pro {
    background: #fb3f2d;
    color: #fff;
	border-color: #fb3f2d;
	border-radius: 0px;
}

.shopire-upsale .btn-group a.help {
    border-radius: 0px 3px 3px 0px;
    border-left: none;
    border-color: #dcdcde;
    color: #50575e;
}

li#customize-control-shopire_sidebar_option_upsale .fable-extra-upgrade-message,
li#customize-control-shopire_body_typography_option_upsale .fable-extra-upgrade-message,
#sub-accordion-section-shopire_headings_typography .fable-extra-upgrade-message,
li#customize-control-shopire_blog_option_upsale .fable-extra-upgrade-message{
    display: block !important;
}

li#accordion-panel-shopire_typography_options {
    margin-bottom: 10px;
}

.customize-control .icons-selector .selector-category select,
.customize-control .icons-selector .selector-search input[type=text] {
    line-height: 13px;
    height: 30px;
}

.customize-control .icons-selector,
.customize-control .icons-selector .selector {
    width: 100%;
}

.customize-control .icons-selector .selector {
    border: 1px solid #8c8f94;
    border-radius: 3px;
    height: 30px;
    background-color: #fff;
}

.customize-control .icons-selector .selected-icon {
    width: 70%;
}

.customize-control .icons-selector .selected-icon i {
    line-height: 30px;
}

.customize-control .icons-selector .selector-button {
    width: 28%;
    border-left: 1px solid #8c8f94;
}

.customize-control .icons-selector .selector-button i {
    line-height: 28px;
}

.customize-control .icons-selector .selector-popup {
    padding: 12px;
    border: 1px solid #ddd;
}

.customize-control .icons-selector .selector-arrows span,
.customize-control .icons-selector .fip-box,
.customize-control .icons-selector .selector-category select,
.customize-control .icons-selector .selector-search input[type=text] {
    border: 1px solid #ddd;
}

.customize-control .icons-selector .selector-pages {
    line-height: 14px;
}

.customize-control .icons-selector .selector-search i {
    top: 5px;
}

.customize-control .icons-selector .selector-arrows span i {
    width: auto;
    height: auto;
    line-height: 12px;
}

.customize-control .icons-selector .selector-arrows span:hover i,
.customize-control .icons-selector .fip-box:hover {
    color: #0073aa;
}